<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google And Yahoo Stock Prices</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h2>FY Stock Comparison: Google vs Yahoo</h2>
      <p>Choose Timeframe:</p><select id="selDataset" onchange="optionChanged(this.value)"></select>
    </div>

    <div class="col-md-12">
      <!-- <h2 class="description-header">Mars Hemispheres</h2> -->
      <table class="table">
        <tr>
          <th>Google</th>
          <th>Yahoo</th>
        </tr>
        <tr style="font-size: 14px">
          <td>
            <div id="googlecandles"></div>
             <br/> <p>Candlestick Chart for: </p>
          </td>
          <td>
            <div id="yahoocandles"></div>
            <br/><p>Candlestick Chart for:</p>
          </td>
        </tr>
        <tr style="font-size: 14px">
          <td>
            <div id="googleline"></div>
            <br /><p>Time Series Chart for:</p>
          </td>
          <td>
            <div id="yahooline"></div>
            <br /><p>Times Series Chart for:</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</body>

</html>
